* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e9ecef;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
}
.heading h1 {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    background-color: #e9ecef;
}
.heading .right {
    margin-left: 48px;
}
.image {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: -5px;
    margin-right: 10px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
