:root {
    --textColor: black;
    --backgroundColor: white;
    --mapcolor: rgb(240, 240, 240);
}

* {
    margin: 0;
    padding: 0;
}
.lightmode {
    --textColor: black;
    --backgroundColor: white;
    --mapcolor: #eff0f1;
}
.nightmode {
    --textColor: white;
    --backgroundColor: black;
    --mapcolor: rgba(108, 117, 125, 0.13);
}

body {
    height: 100vh;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: "Quicksand", sans-serif;
}
.heading {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}
.heading h1 {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.heading .right {
    margin-left: 55px;
}
.heading .left {
    margin-right: -2px;
}

.image {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: -5px;
    margin-right: 10px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.display-mode {
    float: right;
    width: 30px;
    height: 30px;
}

.display-mode img {
    width: 30px;
    height: 30px;
}
.loader {
    border-radius: 50%;
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid red;
    border-left: 10px solid pink;
    border-top: 10px solid #3498db;
    width: 100px;
    height: 100px;
    margin: 200px auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-group {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.row {
    margin: 0;
}

#root {
    margin: auto;
}

.rdt_TableCell {
    width: 50px;
}

.table-box {
    width: 420px;
    height: 600px;
    overflow-y: auto;
    margin: 0 auto;
}
.updated-time {
    margin: 10px;
    width: 100%;
}

.updated-time h1 {
    margin: 0 auto;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
}
.updated-time p {
    margin: 0 auto;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
}

.linechart {
    width: 100%;
    height: 380px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    position: relative;
}

.form-control {
    box-shadow: none;
    border-color: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: none;
}

.outer-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 150px;
    padding: 5px;
    margin-bottom: 17px;
}

.block-2 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    font-size: 1.2rem;
}

.map-table {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .outer-box {
        height: 120px !important;
        margin-bottom: 0;
    }
    .map-table {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
