.map-box {
    height: 650px;
    width: 100%;
}
.svg-map {
    padding: 10px;
    height: 90%;
    width: 100%;
}
.activeclass {
    fill: #0080ff;
    stroke: #2c94fc;
    stroke-width: 2px;
}
.svg-map__location {
    fill: var(--mapcolor);
    stroke: #2c94fc73;
    stroke-width: 1px;
}
.svg-map__location:hover {
    stroke: #0080ff;
    stroke-width: 2px;
}

@media screen and (max-width: 900px) {
    .map-box {
        height: 450px;
    }
}
